.container-org {
    display: grid;
    place-content: center;
}

.org-chart ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.org-chart li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.org-chart li::before,
.org-chart li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #BE1622;
    width: 50%;
    height: 20px;
}

.org-chart li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #BE1622;
}

.org-chart li:only-child::after,
.org-chart li:only-child::before {
    display: none;
}

.org-chart li:only-child {
    padding-top: 0;
}

.org-chart li:first-child::before,
.org-chart li:last-child::after {
    border: 0 none;
}

.org-chart li:last-child::before {
    border-right: 1px solid #BE1622;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.org-chart li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

.org-chart ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #BE1622;
    width: 0;
    height: 20px;
}

.org-chart li a {
    border: 2px solid #27348B ;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    font-family: Poppins-Regular;
    font-size: 15px;
    display: inline-block;
    border-radius: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.org-chart li a:hover,
.org-chart li a:hover+ul li a {
    background: #27348B ;
    color: #fff;
    border: 2px solid  #BE1622;
}

.org-chart li a:hover+ul li::after,
.org-chart li a:hover+ul li::before,
.org-chart li a:hover+ul::before,
.org-chart li a:hover+ul ul::before {
    border-color: #808080;
}