.cl13 {color: #27348b;}
.cl14 {color: #4D91CD ;}
.cl15 {color: #BE1622 ;}
.cl16 {color: #F39C12 ;}

.ltext-110 {
    font-family: Poppins-Regular;
    font-size: 16px;
    line-height: 1.2;
  }

  .container-org {
    display: grid;
    place-content: center;
}

.ltext-203 {
  font-family: Century Gothic;
  font-size: 28px;
  line-height: 1.2857;
}

.main-menu > li.active-menu2 > a {
  color: #36A9E1;
}

.text-justify {
  text-align: justify;
}